src/main/java/perez/garcia/andres/schemas/genres-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="corpus.search.auto" xmlns="corpus.search.auto"
	elementFormDefault="qualified">
	<xs:element name="genres">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="genre" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="corpus" type="xs:string" maxOccurs="unbounded" />
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="corpora" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
